﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    Layout = "Index_Layout";
}

@if (this.Model.usuarioActual() == null)
{
    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/Opcion2.jpg');">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        HELPDESK
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Ingrese su correo">
                        <input class="input100" type="text" name="correo" placeholder=" Correo">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Ingrese Contraseña">
                        <input class="input100" type="password" name="contrasena" placeholder="Contraseña">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Ingresar
                        </button>

                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" href="#">
                           
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
}