﻿@page
@model ProyectoHelpDeskFinal.Pages.PrimeraModel
@{
    Layout = "Primera_Layout";
}

@if (this.Model.usuarioActual() != null)
{
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#intro">Bienvenido</a></li>
                    <li><a href="#two">¿Que desea hacer?</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>Bienvenido! <H4>@this.Model.usuarioActual().nombreUsuario</H4></h1>
                <p>Ha ingresado a la plataforma del departamento de soporte en el área de TI.</p>
                <ul class="actions">
                <li><a href="#two" class="button scrolly">Ver mas</a></li>
                </ul>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper style3 fade-up">
            <div class="inner">
                <h2>¿Que desea hacer?</h2>
                <p>Seleccione la opción que desea realizar.</p>
                <div class="features">
                    <section>
                        <span class="icon solid major fa-cog"></span>
                        <h3>Crear nuevo ticket</h3>
                        <p></p>
                    </section>
                    <section>
                        <span class="icon solid major fa-desktop"></span>
                        <h3>Ver Tickets</h3>
                        <p></p>
                    </section>
                </div>
                <div class="split style1">
                    <ul class="actions">

                        <li><a href="/Tercera" class="button">Crear</a></li>
                    </ul>
                    <ul class="actions">
                        <li><a href="/Segunda" class="button">Ver</a></li>
                    </ul>
                </div>
        </section>
    </div>
}
