﻿@page
@model ProyectoHelpDeskFinal.Pages.SegundaModel
@{
    if (this.Model.usuarioActual() == null)
    {
        //pendiente
    }

    Layout = "Segunda_Layout";
}

@if (this.Model.usuarioActual() != null)
{

    <header id="header">
        <a href="/" class="title">HELPDESK</a>
        <nav>
            <ul>
                <li><a href="/Primera">Principal</a></li>
                <li><a href="/Segunda" class="active">Mis Tickets</a></li>
                <li><a href="/Tercera">Nuevo Ticket</a></li>
                <li><a href="/Salir">Salir</a></li>

            </ul>
        </nav>
    </header>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <section id="main" class="wrapper">
            <h3>Listado de Tickets</h3>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th>Número </th>
                            <th>Cliente </th>
                            <th>Asunto </th>
                            <th>Ultima Actualización</th>
                            <th>Estado</th>
                            <th>Alerta</th>
                            <th>Técnico</th>

                        </tr>
                    </thead>
                    <tbody>

                        @{
                            List<TO.TicketTO> tickets = null;
                            if (this.Model.usuarioActual().tipoUsuario.nombreTipoUsuario.Equals("Administrador"))
                            {
                                tickets = BL.TicketBL.TraerTodosLosTickets();
                            }
                            else if (this.Model.usuarioActual().tipoUsuario.nombreTipoUsuario.Equals("Cliente"))
                            {
                                tickets = BL.TicketBL.TraerTodosMisTicketsCliente(this.Model.usuarioActual().idUsuario);
                            }
                            else if (this.Model.usuarioActual().tipoUsuario.nombreTipoUsuario.Equals("Tecnico"))
                            {
                                tickets = BL.TicketBL.TraerTodosMisTicketsTecnico(this.Model.usuarioActual().idUsuario);
                            }
                        }

                        @for (int i = 0; i < tickets.Count; i++)
                        {
                            TO.TicketTO ticket = tickets.ElementAt(i);


                            <tr>
                                <td>@ticket.idTicket</td>
                                <td>@ticket.cliente.nombreUsuario</td>
                                <td><a href="/Tercera?idTicket=@ticket.idTicket">@ticket.asunto</a></td>
                                <td>@ticket.ultimaActualizacion</td>
                                <td>@ticket.estado.nombreEstado</td>
                                <td>@BL.TicketBL.alerta(ticket)</td>
                                <td>@ticket.tecnico.nombreUsuario</td>
                            </tr>
                        }


                    </tbody>

                </table>
            </div>
        </section>

    </div>
}