﻿@page
@model ProyectoHelpDeskFinal.Pages.TerceraModel
@{
    try
    {
        String idTicketQuery = this.Model.Request.Query["idTicket"];
        if (!String.IsNullOrEmpty(idTicketQuery))
        {
            int idTicket = Int32.Parse(idTicketQuery);
            this.Model.ticket = BL.TicketBL.TraerTicket(idTicket);

            if (this.Model.ticket != null && (
                this.Model.ticket.tecnico.correo.Equals(this.Model.usuarioActual().correo) ||
                this.Model.ticket.cliente.correo.Equals(this.Model.usuarioActual().correo) ||
                this.Model.usuarioActual().idUsuario == 0
                ))
            {
                //TO.TicketTO ticketTO = BL.TicketBL.TraerTicket(idTicket);
                this.Model.ticket.bitacoras = BL.BitacoraBL.TraerTodosLasBitacorasDeUnTicket(this.Model.ticket);
                this.Model.esTicketNuevo = false;
            }
            else
            {
                this.Model.ticket = null;
            }

        }
    }
    catch (Exception e)
    {
        this.Model.ticket = null;
    }
    Layout = "Tercera_Layout";
}

@if (this.Model.usuarioActual() != null)
{

    <body class="is-preload">
        <!-- Header -->
        <header id="header">
            <a href="/" class="title">HELPDESK</a>
            <nav>
                <ul>
                    <li><a href="/Primera">Principal</a></li>
                    <li><a href="/Segunda">Mis Tickets</a></li>
                    <li><a href="/Tercera" class="active">Nuevo Ticket</a></li>
                    <li><a href="/Salir">Salir</a></li>
                </ul>
            </nav>
        </header>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Main -->
            <section id="main" class="wrapper">
                <div class="inner">
                    <h1 class="major"></h1>
                    <section id="three" class="wrapper style1 fade-up">
                        <div class="inner">
                            <h2>Centro de Ayuda</h2>
                            <p>Por favor ingrese la información solicitada para ser atendido por un técnico</p>
                            @if (!this.Model.esTicketNuevo)
                            {
                                <p>Número de Ticket: @this.Model.ticket.idTicket</p>
                            }
                            <div class="split style1">

                                <section>
                                    <form method="post">
                                        @if (this.Model.ticket != null)
                                        {
                                            <input type="hidden" name="idTicket" value="@this.Model.ticket.idTicket">
                                        }

                                        <div class="row gtr-uniform">
                                            <div class="col-6 col-12-xsmall">
                                                <div>
                                                    Cliente:
                                                    @if (this.Model.esTicketNuevo)
                                                    {

                                                        @if (this.Model.usuarioActual().tipoUsuario.nombreTipoUsuario.Equals("Cliente"))
                                                        {
                                                            @this.Model.usuarioActual().nombreUsuario
                                                            <input type="hidden" name="correo" value="@this.Model.usuarioActual().correo" />
                                                        }
                                                        else
                                                        {

                                                        Correo:
                                                            <select name="correo" id="demo-category" value="">

                                                                @{
                                                                    List<TO.UsuarioTO> clientes = BL.UsuarioBL.ListarTodoslosClientes();
                                                                }

                                                                @for (int i = 0; i < clientes.Count; i++)
                                                                {
                                                                    TO.UsuarioTO u = clientes.ElementAt(i);
                                                                    <option value="@u.correo">@u.nombreUsuario</option>
                                                                }
                                                            </select>

                                                        }

                                                    }
                                                    else
                                                    {
                                                        @this.Model.ticket.cliente.nombreUsuario

                                                    }
                                                </div>
                                                @if (!this.Model.esTicketNuevo)
                                                {
                                                    <div class="col-6 col-12-xsmall">

                                                        <input type="email" name="correo" id="demo-email" value="@this.Model.ticket.cliente.correo" placeholder="Corrreo Electrónico" />
                                                    </div>
                                                }
                                                <div class="col-12">

                                                    Categoria:
                                                    @if (this.Model.esTicketNuevo)
                                                    {

                                                        <select name="especialidad" id="demo-category">

                                                            @{
                                                                List<TO.EspecialidadTO> ListaEspecialidades = BL.EspecialidadBL.consultarEspecialidades();
                                                            }

                                                            @for (int i = 0; i < ListaEspecialidades.Count; i++)
                                                            {
                                                                TO.EspecialidadTO especialidadactual = ListaEspecialidades.ElementAt(i);
                                                                <option value="@especialidadactual.idEspecialidad">@especialidadactual.nombreEspecialidad</option>
                                                            }

                                                        </select>
                                                    }
                                                    else
                                                    {
                                                        @this.Model.ticket.especialidad.nombreEspecialidad
                                                    }
                                                </div>
                                            </div>
                                            @if (!this.Model.esTicketNuevo)
                                            {
                                                <div class="col-12">
                                                    Técnico:
                                                    @if (this.Model.usuarioActual().tipoUsuario.nombreTipoUsuario.Equals("Administrador") && this.Model.ticket.estado.nombreEstado.Equals("Abierto"))
                                                    {
                                                        <select name="correoTecnico" id="demo-category">
                                                            @{
                                                                List<TO.UsuarioTO> tecnicos = BL.UsuarioBL.ListarTodoslosTecnicos();
                                                            }

                                                            @for (int i = 0; i < tecnicos.Count; i++)
                                                            {
                                                                if (@tecnicos.ElementAt(i).correo.Equals(this.Model.ticket.tecnico.correo))
                                                                {
                                                                    <option value="@tecnicos.ElementAt(i).correo" selected>@tecnicos.ElementAt(i).nombreUsuario</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@tecnicos.ElementAt(i).correo">@tecnicos.ElementAt(i).nombreUsuario</option>
                                                                }
                                                            }
                                                        </select>
                                                    }
                                                    else
                                                    {
                                                        @this.Model.ticket.tecnico.nombreUsuario
                                                    }

                                                </div>
                                            }

                                            @if (this.Model.esTicketNuevo)
                                            {
                                                <div class="col-4 col-12-small">

                                                    Prioridad:
                                                    <div class="col-4 col-12-small">
                                                        <input type="radio" id="demo-priority-low" name="prioridad" value="Baja" checked>
                                                        <label for="demo-priority-low">Baja</label>
                                                    </div>
                                                    <div class="col-4 col-12-small">
                                                        <input type="radio" id="demo-priority-normal" name="prioridad" value="Media">
                                                        <label for="demo-priority-normal">Media</label>
                                                    </div>
                                                    <div class="col-4 col-12-small">
                                                        <input type="radio" id="demo-priority-high" name="prioridad" value="Alta">
                                                        <label for="demo-priority-high">Alta</label>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-4 col-12-small">
                                                    Prioridad:  @this.Model.ticket.prioridad.nombrePrioridad
                                                </div>
                                            }
                                            <div class="row gtr-uniform">
                                                <div class="col-6 col-12-xsmall">
                                                    Asunto:
                                                    @if (this.Model.esTicketNuevo)
                                                    {
                                                        <div class="col-6 col-12-xsmall">
                                                            <input type="text" name="asunto" id="demo-name" value="" placeholder="Escriba el asunto" />
                                                        </div>

                                                    }
                                                    else
                                                    {
                                                        <div class="col-6 col-12-xsmall">
                                                            <input type="text" name="asunto" id="demo-name" value="@this.Model.ticket.asunto" readonly />
                                                        </div>

                                                    }


                                                </div>


                                                @if (!this.Model.esTicketNuevo)
                                                {
                                                    @for (int i = 0; i < this.Model.ticket.bitacoras.Count; i++)
                                                    {
                                                        <div class="col-12">
                                                            @this.Model.ticket.bitacoras.ElementAt(i).comentario
                                                        </div>
                                                    }
                                                }


                                                @if (this.Model.esTicketNuevo || this.Model.ticket.estado.nombreEstado.Equals("Abierto"))
                                                {

                                                    <div class="col-12">
                                                        <textarea name="mensajeNuevo" id="mensajeNuevo" placeholder="Escriba su mensaje" rows="6"></textarea>
                                                    </div>
                                                    <div class="col-12">
                                                        <input type="checkbox" name="cerrarTicket" id="cerrarTicket" value="true" />
                                                        <label for="cerrarTicket">Marcar Ticket como resuelto</label>
                                                    </div>
                                                    <div class="col-12">
                                                        <ul class="actions">
                                                            <li><input type="submit" value="Enviar" class="primary" /></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </form>
                                </section>
                                <section>

                                    <h3>Dirección</h3>
                                    <span>
                                        Invenio,Guanacaste<br />Costa Rica<br />

                                    </span>

                                    <h3>Telefono Asistencia</h3>
                                    <span>Telef: 87654834</span>

                                    @if (!this.Model.esTicketNuevo)
                                    {
                                        <h3>Información</h3>

                                        <p>
                                            Fecha de Creación:
                                            <br />
                                            @this.Model.ticket.fechaCreacion
                                        </p>


                                        <p>
                                            Técnico Asignado:
                                            <br />

                                            @this.Model.ticket.tecnico.nombreUsuario

                                        </p>

                                        <p>
                                            Estado:

                                            @this.Model.ticket.estado.nombreEstado

                                        </p>
                                        <p>
                                            Alerta: @BL.TicketBL.alerta(this.Model.ticket)
                                        </p>
                                        @if (this.Model.ticket.estado.nombreEstado.Equals("Cerrado"))
                                        {
                                            <p>
                                                Fecha Solución:
                                                <br />
                                                @this.Model.ticket.fechaSolucion
                                            </p>
                                        }
                                    }

                                </section>
                            </div>
                        </div>
                    </section>

                </div>
            </section>
        </div>
    </body>
}